POSTGRES_DB=devtrack_db
POSTGRES_USER=devtrack_user
POSTGRES_PASSWORD=devtrack_password
POSTGRES_PORT=5433

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

DJANGO_DB_NAME=devtrack_db
DJANGO_DB_USER=devtrack_user
DJANGO_DB_PASSWORD=devtrack_password
DJANGO_DB_HOST=postgres
DJANGO_DB_PORT=5432