# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
backend/venv/
.env
backend/.env

# Django
*.log
db.sqlite3
media/

# Docker/Postgres
postgres_data/

# Node/Frontend
node_modules/
dist/
build/
.env.local
frontend/.env
frontend/.env.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db